a.out
*.swp
b07611012*
autotest*
diff_result

# hw1
hw1/p2/p2Json.o
hw1/p2/p2Main.o
hw1/p2/p2Run

# hw2
hw2/cmdCharDef.o
hw2/cmdReader
hw2/cmdReader-ref
hw2/cmdReader.o
hw2/main.o
hw2/testAsc
hw2/testAsc.o

# hw3
hw3/bin/mydb
hw3/bin/testdb
hw3/lib/libcmd.a
hw3/lib/libdb.a
hw3/lib/libutil.a
hw3/src/cmd/cmdCharDef.o
hw3/src/cmd/cmdCommon.o
hw3/src/cmd/cmdParser.o
hw3/src/db/dbCmd.o
hw3/src/db/dbJson.o
hw3/src/main/main.o
hw3/src/test/test.o
hw3/src/util/myGetChar.o
hw3/src/util/myString.o
hw3/src/util/util.o

# hw4
hw4/lib/libmem.a
hw4/lib/libutil.a
hw4/lib/libcmd.a
hw4/src/main/main.o
hw4/src/mem/memCmd.o
hw4/src/mem/memTest.o
hw4/src/util/myGetChar.o
hw4/src/util/myString.o
hw4/src/util/util.o

# hw5
hw5/bin/adtTest.array
hw5/bin/adtTest.bst
hw5/bin/adtTest.dlist
hw5/lib/libutil.a
hw5/src/util/myGetChar.o
hw5/src/util/myString.o
hw5/src/util/util.o
hw5/src/main/adtTest.o
hw5/src/main/main.o
hw5/include/array.h
hw5/include/bst.h
hw5/include/dlist.h
hw5/include/myUsage.h
hw5/include/rnGen.h
hw5/include/util.h



